<h1>All Artists</h1>
<ul id="artists">
  <% @artists.each do |artist| %>
  <li>
    <%= link_to artist.name, artist_path(artist), class: 'artist_name', id: "artist_#{artist.id}" %>
    <% end %>
  </li>
</ul>

<%= link_to "New Artist", new_artist_path %>
